:root {
    --blue: #3282F7;
    --green: #68D9A4;
    --red: #ED6454;
    --light-grey: #E7E7E7;
}

body {
    margin: 0 10% 0 10%;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    max-width: 60%;
}

.lato {
    font-family: "Lato";
}

.roboto {
    font-family: "Roboto";
}

.align-center {
    text-align: center;
}

.logo {
    width: 170px;
    margin: 15px 0 15px 0;
}

.container-fluid {
    padding: 15px 0;
} 

#tags-container {
    align-items: flex-start;
}

.title-container {
    height: 60px;
}

.ingredients-list-container {
    display: none;
    width: 600px;
    height: 600px;
    position: relative;
}

.ingredients-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 90%;
    padding: 22px;
    overflow-y: scroll;
}

#input-ingredients {
    background-color: var(--blue);
    width: 100%;
    color: #FFFFFF;
}

.fa-chevron-up {
    position: absolute;
    right: 5%;
    top: 30px;
}

.list-element {
    color: #FFFFFF;
    width: 33%;
    text-align: left;
    white-space: break-spaces;
}

.form-control-lg {
    display: block;
    border: none;
    background-color: var(--light-grey);
}

.for-group {
    position: relative;
    background-color: var(--light-grey);
    border-radius: 5px;
}

.fa-magnifying-glass {  
    position: absolute;
    right: 2%;
    top: 15px;
}

.btn {
    margin: 0 15px 0 0;
    padding: 15px;
    color: white;
}

.fa-circle-xmark, .fa-chevron-down, .fa-clock {
    margin: 0 10px;
}

.tags-container {
    padding: 20px 0 0 0;
}

.tags {
    padding: 5px 12px;
}

.ingredients {
    background-color: var(--blue);
}

.devices {
    background-color: var(--green);
}

.ustensils {
    background-color: var(--red);
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.recipe-card {
    width: 30%;
    background-color: var(--light-grey);
    margin: 0 20px 20px 0;
    border-radius: 5px;
}

.img-card {
    background-color: #C7BEBE;
    height: 178px;
    border-radius: 5px 5px 0 0;
}

.d-flex {
    align-items: center;
}

.padded-container {
    padding: 0 20px;
    margin-top: 15px;
    justify-content: space-between;
}

.timer-card {
    font-size: 18px;
    font-weight: 700;
}

.ingredients-container {
    margin-block-end: 1rem;
}

.ingredient-name {
    font-size: 12px;
    font-weight: 700;   
}

.ingredient-quantity {
    font-weight: 400;
}

.recipe-description {
    font-size: 12px;
    font-weight: 400;
    max-width: 45%;
    overflow: hidden;
    height: 164px;
    text-overflow: ellipsis;
    display: inline-block;
}